/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

 ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

 audio,
 canvas,
 iframe,
 img,
 svg,
 video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

 fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

 textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

   .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


   .col {position: relative;float: left;min-height: 1px; padding: 0 .5em;}.col-xs-12{width:8.33333333%;}.col-xs-11{width:9.09090909%;}.col-xs-10{width:10%;}.col-xs-9{width:11.11111111%;}.col-xs-8{width:12.5%;}.col-xs-7{width:14.28571429%;}.col-xs-6{width:16.66666667%;}.col-xs-5{width:20%;}.col-xs-4{width:25%;}.col-xs-3{width:33.33333333%;}.col-xs-2{width:50%;}.col-xs-1{width:100%;}.col-xs-2pc{width:2%;}.col-xs-5pc{width:5%;}.col-xs-7pc{width:7%;}.col-xs-10pc{width:10%;}.col-xs-12pc{width:12%;}.col-xs-15pc{width:15%;}.col-xs-18pc{width:18%;}.col-xs-20pc{width:20%;}.col-xs-23pc{width:23%;}.col-xs-25pc{width:25%;}.col-xs-27pc{width:27%;}.col-xs-28pc{width:28%;}.col-xs-30pc{width:30%;}.col-xs-33pc{width:33.33333%;}.col-xs-35pc{width:35%;}.col-xs-37pc{width:37%;}.col-xs-40pc{width:40%;}.col-xs-41pc{width:41.66666667%;}.col-xs-45pc{width:45%;}.col-xs-46pc{width:46%;}.col-xs-49pc{width:49%;}.col-xs-50pc{width:50%;}.col-xs-55pc{width:55%;}.col-xs-58{width:58.33333333%;}.col-xs-60pc{width:60%;}.col-xs-63pc{width:63%;}.col-xs-65pc{width:65%;}.col-xs-66pc{width:66.66666667%;}.col-xs-70pc{width:70%;}.col-xs-75pc{width:75%;}.col-xs-77pc{width:77%;}.col-xs-80pc{width:80%;}.col-xs-81pc{width:81%;}.col-xs-83pc{width:83.33%;}.col-xs-84pc{width:84%;}.col-xs-82pc{width:82%;}.col-xs-85pc{width:85%;}.col-xs-87pc{width:87%;}.col-xs-88pc{width:88%;}.col-xs-90pc{width:90%;}.col-xs-93pc{width:93%;}.col-xs-96pc{width:96%;}.col-xs-100pc{width:100%;}
   .v-align-parent,
   .v-align-p {
    display: table;
}
.v-align-parent .v-align-child,
.v-align-p .v-align-child {
    display: table-cell;
    vertical-align: middle;
}
.v-align-parent .v-align-child.v-align-top,
.v-align-p .v-align-child.v-align-top {
    vertical-align: top;
}
.v-align-parent .v-align-child.v-align-bottom,
.v-align-p .v-align-child.v-align-bottom {
    vertical-align: bottom;
}
ul, ol{
    padding: 0;
}









* { box-sizing: border-box; }

.paints li{
    display: inline-block;
}
.paints .paint{
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: .25em;
    padding: .25em .5em;
    position: relative;
    overflow: hidden;
    margin: .25em;
    opacity: 1;
}
li:nth-child(2n) .paint:after{animation-delay: 2s}
li:nth-child(3n) .paint:after{animation-delay: 3s}
li:nth-child(4n) .paint:after{animation-delay: 4s}
li:nth-child(5n) .paint:after{animation-delay: 5s}
li:nth-child(6n) .paint:after{animation-delay: 6s}
li:nth-child(7n) .paint:after{animation-delay: 7s}
li:nth-child(8n) .paint:after{animation-delay: 8s}
li:nth-child(9n) .paint:after{animation-delay: 9s}
li:nth-child(10n) .paint:after{animation-delay: 10s}
li:nth-child(11n) .paint:after{animation-delay: 11s}

.shine{
    /*z-index: 10;*/
}
.shine:after {
    background-image: url(../img/shine.png);
    background-size: 100%;
    position: absolute;
    bottom: -300px;
    right: -500px;
    opacity: .5;
    z-index: 5;
    border: 1px solid red;
    display: block;
    content: '';
    width: 1000px;
    height: 1000px;
    border-radius: 100%;
    /*filter: blur: 1em;*/
    filter: blur: (1em);
    -webkit-animation: rotating 40s linear infinite;
    -moz-animation: rotating 40s linear infinite;
    -ms-animation: rotating 40s linear infinite;
    -o-animation: rotating 40s linear infinite;
    animation: rotating 40s linear infinite;

}


.paint-color{
    display: inline-block;
    border-radius: 100%;
    height: 1.25em;
    width: 1.25em;
}

.paints button.paint:hover, .paints button.paint:focus{
    opacity: .7;
}
.paints button.paint:active{
    opacity: 1;
}








@keyframes shine{
  10% {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
}
100% {
    opacity: 0;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
}
}


@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
}
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
}
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

 .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

 .visuallyhidden.focusable:active,
 .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

 .invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

 .clearfix:before,
 .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

     a[href^="#"]:after,
     a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

     thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
