<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>🎨 Paints</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- <script src="js/angular.js"></script>/ -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <style>
        .has{
            opacity: .2 !important;
        }
    </style>

</head>
<body ng-app="paints" ng-controller="theApp">
    <!-- TODO

    * find what paints you need for a collection
    * view colors of paints
    * related colors of other brands
    *

-->
<!-- <section>
    <h1>You Have:</h1>
    <h1>You Require:</h1>
</section> -->
<ul id='list' class="col col-xs-1">
    <li ng-repeat="x in listOfSchemes track by $index">
        <h2 ng-click="checkColors(x)">{{x.army}} </h2>
        <ul class="paints">
            <li class="paint" ng-class="{'has' : canIHasPaint(y) > 0}" ng-repeat="y in x.paints track by $index">
                <span>{{y}}</span>
                <span ng-show="canIHasPaint(y) > 0">✓</span>
            </li>
        </ul>
    </li>
</ul>

<section class="col col-xs-1">
    <h1>All Citadel Paints</h1>

    <h4>Category</h4>

    <label for="base">Base</label>
    <input type="checkbox"
    name="base"
    id="base"
    ng-model="filterQueryBase"
    ng-init="filterQueryBase = true"
    value="base" />&nbsp;

    <label for="dry">Dry</label>
    <input type="checkbox"
    name="dry"
    id="dry"
    ng-model="filterQueryDry"
    ng-init="filterQueryDry = true"
    value="dry" />&nbsp;

    <label for="edge">Edge</label>
    <input type="checkbox"
    name="edge"
    id="edge"
    ng-model="filterQueryEdge"
    ng-init="filterQueryEdge = true"
    value="edge" />&nbsp;

    <label for="glaze">Glaze</label>
    <input type="checkbox"
    name="glaze"
    id="glaze"
    ng-model="filterQueryGlaze"
    ng-init="filterQueryGlaze = true"
    value="glaze" />&nbsp;

    <label for="layer">Layer</label>
    <input type="checkbox"
    name="layer"
    id="layer"
    ng-model="filterQueryLayer"
    ng-init="filterQueryLayer = true"
    value="layer" />&nbsp;

    <label for="metalic">Metalic</label>
    <input type="checkbox"
    name="metalic"
    id="metalic"
    ng-model="filterQueryMetalic"
    ng-init="filterQueryMetalic = true"
    value="metalic" />&nbsp;

    <label for="shade">shade</label>
    <input type="checkbox"
    name="shade"
    id="shade"
    ng-model="filterQueryShade"
    ng-init="filterQueryShade = true"
    value="shade" />&nbsp;

    <label for="technical">Technical</label>
    <input type="checkbox"
    name="technical"
    id="technical"
    ng-model="filterQueryTechnical"
    ng-init="filterQueryTechnical = true"
    value="technical" />&nbsp;

    <label for="texture">Texture</label>
    <input type="checkbox"
    name="texture"
    id="texture"
    ng-model="filterQueryTexture"
    ng-init="filterQueryTexture = true"
    value="texture" />&nbsp;

    <label for="air">Air</label>
    <input type="checkbox"
    name="air"
    id="air"
    ng-model="filterQueryAir"
    ng-init="filterQueryAir = false"
    value="air" />


    <ul class="paints">
        <li ng-repeat="x in paintsLibrary track by $index">
            <button class="paint"
            ng-class="{'shine' : x.type === 'metalic'}"
            ng-click="addRemovePaint(x)"
            ng-attr-style="border-color:#{{x.color}};"
            ng-show="x.type === 'air'  && filterQueryAir === true ||
            x.type === 'base' && filterQueryBase === true ||
            x.type === 'dry' && filterQueryDry === true ||
            x.type === 'edge' && filterQueryEdge === true ||
            x.type === 'glaze' && filterQueryGlaze === true ||
            x.type === 'layer' && filterQueryLayer === true ||
            x.type === 'metalic' && filterQueryMetalic === true ||
            x.type === 'shade' && filterQueryShade === true ||
            x.type === 'technical' && filterQueryTechnical === true ||
            x.type === 'texture' && filterQueryTexture === true">
            <div ng-show="x.color" class="paint-color" aria-hidden="true" role="presentation"
            ng-attr-style="background-color:#{{x.color}};">
            &nbsp;
        </div>
        <span>{{x.name}}</span>
        <span ng-show="canIHasPaint(x.name) >= 0">✓</span>
    </button>
</li>
</ul>
</section>


<script>




var app = angular.module('paints', []);
app.controller('theApp', function($scope, $http) {

    // function to check if a paint is in the users collection
    $scope.canIHasPaint = function(paint) {
        return $scope.myPaints.indexOf(paint);
    }

    $scope.addRemovePaint = function(paint) {
        if($scope.canIHasPaint(paint.name) >= 0){
            $scope.myPaints.splice($scope.canIHasPaint(paint.name), 1);
            console.log("removed " + paint.name);
        } else {
            $scope.myPaints.push(paint.name);
            console.log("added " + paint.name);
        }
    }




    $scope.myPaints = [
    "Liberator Gold","Rhinox Hide","Aver land Sunset","Nuln Oil","Fenrisian Grey","Screaming Skull","Reikland Fleshshade","Underhive Ash","Wazdakka Red","Troll Slayer Orange","Cadian Fleshtone","White Scar","Teclis Blue","Russ Grey","Mephiston Red","Khorne Red","Tyrant Skull","Blood for the Blood God","Waaagh! Flesh","Retributor Armour","Zandri Dust","Ushabti Bone","Evil Sunz Scarlet","Leadbelcher","Ceramite White","Auric Armour","Agrax Earthshade","Rakarth Flesh","Eshin Grey","Flash Gitz Yellow","Runefang Steel","Druchii Violet","Athonian Camoshade","Carroburg Crimson","Screamer Pink","Dawnstone","Nurgle's Rot","Abaddon Black","Kantor Blue","Mournfang Brown","Seraphim Sepia","Pallid Wych Flesh","Mechanicus Standard Grey","Bugman’s Glow","Castellan Green"
    ];


    $scope.listOfSchemes = [{"army":"Adeptus Mechanicus","paints":["Abaddon Black","Agrax Earthshade","Athonian Camoshade","Baharroth Blue","Brass Scorpion","Caledor Sky","Ceramite White","Dark Reaper","Dawnstone","Emperor's Children","Evil Sunz Scarlet","Fenrisian Grey","Karak Stone","Krieg Khaki","Leadbelcher","Mephiston Red","Nuln Oil","Pallid Wych Flesh","Rakarth Flesh","Reikland Fleshshade","Rhinox Hide","Runefang Steel","Screamer Pink","Seraphim Sepia","Skrag Brown","Tau Light Ochre","Ushabti Bone","Warplock Bronze","White Scar","Wild Rider Red","Martian Ironearth"]},
    {"army":"Fyreslayers","paints":["Abaddon Black","Bugman’s Glow","Carroburg Crimson","Dawnstone","Eldar Flesh","Eshin Grey","Fuegan Orange","Jokaero Orange","Kindleflame","Kislev Flesh","Leadbelcher","Nuln Oil","Reikland Fleshshade","Retributor Gold","Runefang Steel","Troll Slayer Orange"]},
    {"army":"Archaon Everchosen","paints":["Abaddon Black","Administratum Grey","Agrax Earthshade","Athonian Camoshade","Auric Armour Gold","Blood for the Blood God","Bloodletter","Bugman’s Glow","Cadian Fleshtone","Coelia Greenshade","Dark Reaper","Dawnstone ","Deathworld Forest","Druchii Violet","Eshin Grey","Evil Sunz Scarlet","Fire Dragon Bright","Flayed One Flesh","Gorthor Brown","Karak Stone","Khorne Red","Lahmian Medium","Leadbelcher","Mechanicus Standard Grey","Mephiston Red","Nuln Oil","Ogryn Camo","Rakarth Flesh","Reikland Fleshshade","Retributor Armour","Rhinox Hide","Runefang Steel","Screaming Skull","Sotek Green","Stegadon Scale Green","Stormvermin Fur","Tau Light Ochre","Temple Guard Blue","Terminatus Stone","Troll Slayer Orange","Wazdakka Red","White Scar","Wrack White","XV-88","Yriel Yellow","Zandri Dust"]},
    {"army":"Grey Knights","paints":["Abaddon Black","Agrax Earthshade","Alaitoc Blue","Auric Armour Gold","Balthasar Gold","Bestigor Flesh","Bloodletter","Carroburg Crimson","Celestra Grey","Dawnstone","Drakenhof Nightshade","Eldar Flesh","Eshin Grey","Etherium Blue","Evil Sunz Scarlet","Gehenna's Gold","Golden Griffon","Guilliman Blue","Hoeth Blue","Ironbreaker","Kantor Blue","Kindleflame","Leadbelcher","Longbeard Grey","Mephiston Red","Necron Compound","Nuln Oil","Praxeti White","Ratskin Flesh","Reikland Fleshshade","Runefang Steel","Screaming Skull","Seraphim Sepia","Ulthuan Grey","Ungor Flesh","Ushabti Bone","White Scar","Zandri Dust","Wild Rider Red"]},
    {"army":"Greenskinz,","paints":["Abaddon Black","Agrax Earthshade","Biel-Tan Green","Bloodletter","Carroburg Crimson","Deathclaw Brown","Ironbreaker","Khorne Red","Kindleflame","Leadbelcher","Mournfang Brown","Necron Compound","Nuln Oil","Praxeti White","Runefang Steel","Screaming Skull","Seraphim Sepia","Skarsnik Green","Skavenblight Dinge","Skrag Brown","Squig Orange","Stormvermin Fur","Terminatus Stone","Tyrant Skull","Underhive Ash","Ushabti Bone","Waaagh! Flesh","Warboss Green","Wazdakka Red","Zandri Dust"]},
    {"army":"Malignant","paints":["Abaddon Black","Agrax Earthshade","Athonian Camoshade","Castellan Green","Coelia Greenshade","Deathclaw Brown","Ironbreaker","Leadbelcher","Mournfang Brown","Necron Compound","Nuln Oil","Nurgling Green","Praxeti White","Runefang Steel","Screaming Skull","Seraphim Sepia","Skavenblight Dinge","Skink Blue","Skrag Brown","Sotek Green","Stegadon Scale Green","Stormvermin Fur","Straken Green","Temple Guard Blue","Terminatus Stone","Tyrant Skull","Underhive Ash","Ushabti Bone","Zandri Dust"]},
    {"army":"Slaves to Darkness","paints":["Abaddon Black","Agrax Earthshade","Brass Scorpion","Deathclaw Brown","Golden Griffon","Ironbreaker","Karak Stone","Leadbelcher","Mournfang Brown","Necron Compound","Nuln Oil","Praxeti White","Reikland Fleshshade","Runefang Steel","Runelord Brass","Screaming Skull","Seraphim Sepia","Skavenblight Dinge","Skrag Brown","Steel Legion Drab","Stormvermin Fur","Tallarn Sand","Terminatus Stone","Tyrant Skull","Ushabti Bone","Warplock Bronze","Zandri Dust"]},
    {"army":"Space Wolves","paints":["Russ Grey","Agrax Earthshade","Fenrisian Grey","Karak Stone","Nuln Oil","Tyrant Skull","Terminatus Stone","Zandri Dust","Reikland Fleshshade","Screaming Skull","Cadian Fleshtone","Kislev Flesh","Pallid Wych Flesh","Abaddon Black","White Scar","Mephiston Red","Troll Slayer Orange","Dawnstone","Leadbelcher","Runefang Steel ","Coelia Greenshade","Guilliman Blue","Necron Compound","Balthasar Gold","Gehennas Gold","Averland Sunset"]},
    {"army":"Oakenbrow Glade","paints":["Dryad Bark","Death World Forest","Khorne Red","Caledor Sky","Balthasar Gold","Celestra Grey","Abaddon Black","Dark Reaper","Fenrisian Grey","Athonian Camoshade","Coelia Greenshade","Fuegan Orange","Casandora Yellow","Agrax Earthshade","Guilliman Blue","Ulthuan Grey","Waywatcher Green","Pallid Wych Flesh","Screaming Skull","Wild Rider Red","Gorthor Brown","Ogryn Camo","White Scar","Runefang Steel"]},
    {"army":"Daemons of Nurgle","paints":["Zandri Dust","Castellan Green","Straken Green","Agrax Earthshade","Reikland Fleshshade","Nuln Oil","Seraphim Sepia","Waywatcher Green","Screaming Skull","Leadbelcher","Balthasar Gold","Brass Scorpion","Runefang Steel","Rhinox Hide","Gorthor Brown","Baneblade Brown","Skavenblight Dinge","Mechanicus Standard Grey","Screamer Pink","Pink Horror","Blood For The Blood God","Ryza Rust","Nurgles Rot","Typhus Corrosion","Nihilakh Oxide"]},
    {"army":"Astra Militarum","paints":["Abaddon Black","Athonian Camoshade","Bestigor Flesh","Castellan Green","Celestra Grey","Eldar Flesh","Ironbreaker","Karak Stone","Leadbelcher","Loren Forest","Necron Compound","Nuln Oil","Praxeti White","Ratskin Flesh","Reikland Fleshshade","Runefang Steel","Skavenblight Dinge","Steel Legion Drab","Stormvermin Fur","Straken Green","Tallarn Sand","Terminatus Stone","Ulthuan Grey","Underhive Ash","Ungor Flesh","White Scar"]},
    {"army":"Blood Angels","paints":["Abaddon Black","Agrax Earthshade","‘Ardcoat","Averland Sunset","Balthasar Gold","Ceramite White","Dawnstone","Dorn Yellow","Emperor’s Children","Evil Sunz Scarlet","Fire Dragon Bright","Gehenna’s Gold","Khorne Red","Leadbelcher","Mechanicus Standard Grey","Mephiston Red","Nuln Oil","Pallid Wych Flesh","Rakarth Flesh","Runefang Steel","Screamer Pink","Skavenblight Dinge","Stormvermin Fur","Waywatcher Green","White Scar","Yriel Yellow"]},
    {"army":"Orks","paints":["Agrax Earthshade","Balthasar Gold","Biel Tan Green","Carroburg Crimson","Casandora Yellow","Dawnstone","Evil Sunz Scarlet","Flash Gitz Yellow","Ironbreaker","Karak Stone","Kislev Flesh","Mechanicus Standard Grey","Mournfang Brown","Reikland Fleshshade","Rhinox Hide","Runefang Steel","Screaming Skull","Skarsnik Green","Skrag Brown","Steel Legion Drab","Ushabti Bone","Warboss Green","White Scar"]},
    {"army":"Genestealer Cults Layer","paints":["Abaddon Black","Stegadon Scale Green","Leadbelcher","Mournfang Brown","Bugman's Glow","Khorne Red","Ceramite White","Dawnstone","Thunderhawk Blue","Cadian Fleshtone","Brass Scorpion","Agrax Earthshade","Casandora Yellow","Druchii Violet","Nuln Oil","Administratum Grey","Runefang Steel","Balor Brown","Kislev Flesh","Wild Rider Red"]},
    {"army":"Genestealer Cults - Drybrushing","paints":["Abaddon Black","Stegadon Scale Green","Leadbelcher","Mournfang Brown","Bugman's Glow","Khorne Red","Ceramite White","Dawnstone","Thunderhawk Blue","Cadian Fleshtone","Brass Scorpion","Agrax Earthshade","Casandora Yellow","Druchii Violet","Nuln Oil","Longbeard Grey","Stormfang","Necron Compound","Astorath Red","Eldar Flesh","Golgfag Brown"]},
    {"army":"Seraphon","paints":["Stegadon Scale Green","Coelia Greenshade","Sotek Green","Temple Guard Blue","Zandri Dust","Seraphim Sepia","Ushabti Bone","Screaming Skull","Praxeti White","Balthasar Gold","Agrax Earthshade","Gehenna's Gold","Auric Armour Gold","Golden Griffon","Mephiston Red","Carroburg Crimson","Evil Sunz Scarlet","Wild Rider Red","Kindleflame","Bloodletter","Abaddon Black"]},
    {"army":"Stormcast Eternals","paints":["Abaddon Black","Agrax Earthshade","Celestra Grey","Dawnstone","Evil Sunz Scarlet","Kantor Blue","Leadbelcher","Liberator Gold","Mephiston Red","Nuln Oil","Reikland Fleshshade","Retributor Armour","Runefang Steel","Screamer Pink","Screaming Skull","Seraphim Sepia","Teclis Blue","Ulthuan Grey ","White Scar","Zandri Dust"]},
    {"army":"Deathwatch Paint Collection - Drybrushing","paints":["Leadbelcher","Retributor Armour","Khorne Red","Rhinox Hide","Rakarth Flesh","Castellan Green","Agrax Earthshade","Nuln Oil","Reikland Fleshshade","Runefang Steel","Nihilakh Oxide","Dawnstone","Necron Compound","Blackfire Earth","Tyrant Skull","Steel Legion Drab"]},
    {"army":"Deathwatch - Layer","paints":["Leadbelcher","Retributor Armour","Khorne Red","Rhinox Hide","Rakarth Flesh","Castellan Green","Agrax Earthshade","Nuln Oil","Reikland Fleshshade","Runefang Steel","Nihilakh Oxide","Eshin Grey","Fenrisian Grey","Evil Sunz Scarlet","Fire Dragon Bright","Skrag Brown","Pallid Wych Flesh","Auric Armour Gold","Blackfire Earth","Tyrant Skull","Steel Legion Drab"]},
    {"army":"Colours Of Chaos","paints":["Abaddon Black","Agrax Earthshade","Balthasar Gold","Bugman's Glow","Cadian Fleshtone","Carroburg Crimson","Dawnstone","Evil Sunz Scarlet","Flayed One Flesh","Gorthor Brown","Khorne Red","Leadbelcher","Nuln Oil","Pallid Wych Flesh","Rakarth Flesh","Reikland Fleshshade","Rhinox Hide","Runefang Steel","Ushabti Bone","Zandri Dust"]},
    {"army":"Tau Empire - White","paints":["Abaddon Black","Administratum Grey","Agrax Earthshade","Caliban Green","Evil Sunz Scarlet","Fenrisian Grey","Fire Dragon Bright","Flayed One Flesh","Khorne Red","Mechanicus Standard Grey","Mephiston Red","Nuln Oil","Retributor Armour","Runefang Steel","Russ Grey","The Fang","Ulthuan Grey","Warpstone Glow","White Scar","Yriel Yellow"]},
    {"army":"Ultramarines","paints":["Abaddon Black","Administratum Grey","Agrax Earthshade","Balthasar Gold","Bugmans Glow","Cadian Fleshtone","Calgar Blue","Fenrisian Grey","Gehenna's Gold","Gorthor Brown","Leadbelcher","Macragge Blue","Mechanicus Standard Grey","Nuln Oil","Reikland Fleshshade","Rhinox Hide","Runefang Steel","White Scar"]},
    {"army":"Daemons of Khorne","paints":["Abaddon Black","Agrax Earthshade","Blood For The Blood God","Bloodletter","Brass Scorpion","Carroburg Crimson","Golden Griffon","Khorne Red","Kindleflame","Nuln Oil","Runelord Brass","Skavenblight Dinge","Squig Orange","Stormvermin Fur","Terminatus Stone","Warplock Bronze","Wazdakka Red"]},
    {"army":"Pestilens","paints":["Castellan Green","Abaddon Black","Agrax Earthshade","Skavenblight Dinge","Administratum Grey","Straken Green","Ratskin Flesh","Cadian Fleshtone","Kislev Flesh","Zandri Dust","Screaming Skull","Rhinox Hide","Gorthor Brown","Baneblade Brown","Leadbelcher","Runefang Steel","Waywatcher Green"]},
    {"army":"Tyranids","paints":["Abaddon Black","Agrax Earthshade","Carroburg Crimson","Evil Sunz Scarlet","Fire Dragon Bright","Genestealer Purple","Khorne Red","Kislev Flesh","Naggaroth Night","Pallid Wych Flesh","Screaming Skull","Steel Legion Drab","Ushabti Bone","Wild Rider Red","Xereus Purple","Yriel Yellow"]}];

    //  types:

        //  a   : air
        //  b   : base
        //  d   : dry
        //  e   : edge
        //  g   : glaze
        //  l   : layer
        //  m   : metalic
        //  s   : shade
        //  tc  : technical
        //  tx  : texture


    $scope.paintsLibrary = [
    {name:"Abaddon Black",type:"layer",color:"000000"}, {name:"Abaddon Black Air",type:"air",color:"000000"},{name:"Abaddon Black",type:"base",color:"000000"},{name:"Administratum Grey Air",type:"air",color:"B5B5B5"},{name:"Administratum Grey",type:"layer",color:"B5B5B5"},{name:"Agrax Earthshade Gloss",type:"shade",color:"393121"},{name:"Agrax Earthshade",type:"shade",color:"393121"},{name:"Agrellan Earth",type:"technical"},{name:"Alaitoc Blue",type:"layer"},{name:"Altdorf Guard Blue",type:"layer",color:"29397B"},{name:"Ardcoat",type:"technical"},{name:"Armageddon Dust",type:"texture"},{name:"Astorath Red",type:"dry"},{name:"Astrogranite",type:"texture"},{name:"Athonian Camoshade",type:"shade"},{name:"Auric Armour Gold",type:"metalic",color:"E7BD42"},{name:"Averland Sunset Air",type:"air",color:"9C8A53"},{name:"Averland Sunset",type:"base",color:"9C8A53"},{name:"Baharroth Blue",type:"edge"},{name:"Balor Brown Air",type:"air",color:"976F3C"},{name:"Balor Brown",type:"layer",color:"976F3C"},{name:"Balthasar Gold Air",type:"air"},{name:"Balthasar Gold",type:"base"},{name:"Baneblade Brown Air",type:"air",color:"705E48"},{name:"Baneblade Brown",type:"layer",color:"705E48"},{name:"Bestigor Flesh",type:"layer",color:"F7BD7B"},{name:"Biel-Tan Green",type:"shade",color:"434F38"},{name:"Blackfire Earth",type:"texture"},{name:"Blood for the Blood God",type:"technical"},{name:"Bloodletter",type:"glaze"},{name:"Blue Horror",type:"edge"},{name:"Brass Scorpion",type:"metalic",color:"73372D"},{name:"Bugman's Glow",type:"base",color:"A95C3E"},{name:"Cadian Fleshtone",type:"layer",color:"8D736C"},{name:"Caledor Sky Air",type:"air",color:"31639C"},{name:"Caledor Sky",type:"base"},{name:"Calgar Blue Air",type:"air"},{name:"Calgar Blue",type:"layer"},{name:"Caliban Green Air",type:"air",color:"005221"},{name:"Caliban Green",type:"base",color:"005221"},{name:"Carroburg Crimson",type:"shade",color:"630808"},{name:"Casandora Yellow",type:"shade"},{name:"Castellan Green Air",type:"air",color:"455440"},{name:"Castellan Green",type:"base",color:"455440"},{name:"Celestra Grey",type:"base",color:"96A5A9"},{name:"Ceramite White",type:"base",color:"FFFFFF"},{name:"Changeling Pink",type:"dry"},{name:"Chronus Blue",type:"dry"},{name:"Citadel Thinner Air",type:"air"},{name:"Coelia Greenshade",type:"shade"},{name:"Daemonette Hide",type:"base",color:"4F566C"},{name:"Dark Reaper",type:"layer"},{name:"Dawnstone Air",type:"air",color:"999999"},{name:"Dawnstone",type:"dry",color:"999999"},{name:"Dawnstone",type:"layer",color:"999999"},{name:"Death World Forest",type:"base"},{name:"Deathclaw Brown Air",type:"air"},{name:"Deathclaw Brown",type:"layer"},{name:"Deathworld Forest Air",type:"air",color:"6A6445"},{name:"Dechala Lilac",type:"edge"},{name:"Doombull Brown",type:"layer",color:"630808"},{name:"Dorn Yellow",type:"edge",color:"FFF700"},{name:"Drankenhof Nightshade",type:"shade",color:"273E51"},{name:"Druchii Violet",type:"shade",color:"842994"},{name:"Dryad Bark Air",type:"air"},{name:"Dryad Bark",type:"base"},{name:"Eldar Flesh",type:"dry"},{name:"Elysian Green Air",type:"air",color:"A5A542"},{name:"Elysian Green",type:"layer",color:"A5A542"},{name:"Emperor's Children",type:"layer",color:"EF9CB5"},{name:"Eshin Grey",type:"layer"},{name:"Etherium Blue",type:"dry"},{name:"Evil Sunz Scarlet Air",type:"air",color:"CE0018"},{name:"Evil Sunz Scarlet",type:"layer",color:"CE0018"},{name:"Fenrisian Grey Air",type:"air",color:"CEDEE7"},{name:"Fenrisian Grey",type:"layer",color:"CEDEE7"},{name:"Fire Dragon Bright",type:"layer",color:"FF7B00"},{name:"Flash Gitz Yellow Air",type:"air",color:"FFE700"},{name:"Flash Gitz Yellow",type:"layer",color:"FFE700"},{name:"Flayed One Flesh",type:"layer"},{name:"Fuegan Orange",type:"shade"},{name:"Fulgrim Pink",type:"edge"},{name:"Fulgurite Copper",type:"metalic"},{name:"Gauss Blaster Green",type:"edge"},{name:"Gehenna's Gold",type:"metalic",color:"CCCC33"},{name:"Genestealer Purple Air",type:"air"},{name:"Genestealer Purple",type:"layer"},{name:"Golden Griffon",type:"dry"},{name:"Golgfag Brown",type:"dry"},{name:"Gorthor Brown",type:"layer"},{name:"Guilliman Blue",type:"glaze"},{name:"Hashut Copper",type:"metalic",color:"9C5221"},{name:"Hellion Green",type:"dry"},{name:"Hexos Palesun",type:"dry"},{name:"Hoeth Blue",type:"dry"},{name:"Hoeth Blue",type:"layer"},{name:"Imperial Primer",type:"technical"},{name:"Imrik Blue",type:"dry"},{name:"Incubi Darkness",type:"base"},{name:"Ironbreaker Air",type:"air",color:"7B737B"},{name:"Ironbreaker",type:"metalic",color:"7B737B"},{name:"Jokaero Orange",type:"base",color:"A4593D"},{name:"Kabalite Green",type:"layer"},{name:"Kantor Blue Air",type:"air",color:"08085A"},{name:"Kantor Blue",type:"base",color:"08085A"},{name:"Karak Stone Air",type:"air",color:"9B8C7B"},{name:"Karak Stone",type:"layer",color:"9B8C7B"},{name:"Khorne Red Air",type:"air",color:"990033"},{name:"Khorne Red",type:"base",color:"990033"},{name:"Kindleflame",type:"dry"},{name:"Kislev Flesh Air",type:"air",color:"eec8c7"},{name:"Kislev Flesh",type:"layer",color:"eec8c7"},{name:"Krieg Khaki",type:"edge"},{name:"Lahmian Medium",type:"technical"},{name:"Lamenters Yellow",type:"glaze"},{name:"Leadbelcher Air",type:"air",color:"393939"},{name:"Leadbelcher",type:"base",color:"393939"},{name:"Liberator Gold",type:"metalic"},{name:"Longbeard Grey",type:"dry"},{name:"Loren Forest",type:"layer",color:"434F38"},{name:"Lothern Blue Air",type:"air",color:"6B9CCE"},{name:"Lothern Blue",type:"layer",color:"6B9CCE"},{name:"Lucius Lilac",type:"dry"},{name:"Lugganath Orange",type:"edge"},{name:"Lustrian Undergrowth",type:"texture"},{name:"Macragge Blue Air",type:"air",color:"2D567C"},{name:"Macragge Blue",type:"base",color:"2D567C"},{name:"Martian Ironearth",type:"technical"},{name:"Mechanicus Standard Grey Air",type:"air",color:"7C8286"},{name:"Mechanicus Standard Grey",type:"base",color:"7C8286"},{name:"Mephiston Red Air",type:"air",color:"793638"},{name:"Mephiston Red",type:"base",color:"793638"},{name:"Moot Green Air",type:"air",color:"A5D610"},{name:"Moot Green",type:"layer",color:"A5D610"},{name:"Mourn Mountain Snow",type:"texture"},{name:"Mournfang Brown Air",type:"air",color:"663300"},{name:"Mournfang Brown",type:"base",color:"663300"},{name:"Naggaroth Night",type:"base",color:"562F7E"},{name:"Necron Compound",type:"dry"},{name:"Niblit Green",type:"dry"},{name:"Nihilakh Oxide",type:"technical"},{name:"Nuln Oil Gloss",type:"shade",color:"000000"},{name:"Nuln Oil",type:"shade",color:"000000"},{name:"Nurgle's Rot",type:"technical"},{name:"Nurgling Green",type:"dry",color:"E7EFC6"},{name:"Nurgling Green",type:"layer",color:"E7EFC6"},{name:"Ogryn Camo Air",type:"air"},{name:"Ogryn Camo",type:"layer"},{name:"Pallid Wych Flesh",type:"layer"},{name:"Pink Horror",type:"layer"},{name:"Praxeti White",type:"dry"},{name:"Rakarth Flesh",type:"base",color:"B9ADA1"},{name:"Ratskin Flesh",type:"base",color:"F78C5A"},{name:"Reikland Fleshshade Gloss",type:"shade",color:"CE8C42"},{name:"Reikland Fleshshade",type:"shade",color:"CE8C42"},{name:"Relictor Gold Air",type:"air"},{name:"Retributor Armour",type:"base"},{name:"Rhinox Hide",type:"base",color:"390008"},{name:"Runefang Steel Air",type:"air",color:"B5B5BD"},{name:"Runefang Steel",type:"metalic"},{name:"Runelord Brass",type:"metalic",color:"735A21"},{name:"Russ Grey Air",type:"air"},{name:"Russ Grey",type:"layer"},{name:"Ryza Rust",type:"dry"},{name:"Screamer Pink",type:"base",color:"9C004A"},{name:"Screaming Bell",type:"base"},{name:"Screaming Skull",type:"layer",color:"F0F1CE"},{name:"Seraphim Sepia",type:"shade",color:"843910"},{name:"Sigmarite",type:"dry"},{name:"Skarsnik Green",type:"layer"},{name:"Skavenblight Dinge",type:"layer"},{name:"Skink Blue",type:"dry"},{name:"Skrag Brown",type:"layer",color:"843910"},{name:"Skullcrusher Brass",type:"metalic"},{name:"Slaanesh Grey",type:"dry"},{name:"Slaanesh Grey",type:"layer"},{name:"Sotek Green",type:"layer",color:"006B5A"},{name:"Soulstone Blue",type:"technical"},{name:"Spiritstone Red",type:"technical"},{name:"Squig Orange",type:"layer"},{name:"Steel Legion Drab Air",type:"air",color:"655138"},{name:"Steel Legion Drab",type:"base",color:"655138"},{name:"Stegadon Scale Green",type:"base"},{name:"Stirland Mud",type:"texture"},{name:"Stormfang",type:"dry"},{name:"Stormhost Silver",type:"metalic"},{name:"Stormvermin Fur",type:"layer",color:"4D4A4A"},{name:"Straken Green Air",type:"air"},{name:"Straken Green",type:"layer"},{name:"Sybarite Green Air",type:"air"},{name:"Sybarite Green",type:"layer"},{name:"Sycorax Bronze",type:"metalic"},{name:"Sylvaneth Bark",type:"dry"},{name:"Tallarn Sand Air",type:"air",color:"9C8855"},{name:"Tallarn Sand",type:"layer",color:"9C8855"},{name:"Tau Light Ochre Air",type:"air",color:"DE9408"},{name:"Tau Light Ochre",type:"layer",color:"DE9408"},{name:"Teclis Blue",type:"layer",color:"8BB9DD"},{name:"Temple Guard Blue Air",type:"air"},{name:"Temple Guard Blue",type:"layer"},{name:"Terminatus Stone Air",type:"air"},{name:"Terminatus Stone",type:"dry"},{name:"The Fang Air",type:"air",color:"4E5067"},{name:"The Fang",type:"base",color:"4E5067"},{name:"Thunderhawk Blue",type:"dry"},{name:"Thunderhawk Blue",type:"layer"},{name:"Troll Slayer Orange Air",type:"air",color:"FF3108"},{name:"Troll Slayer Orange",type:"layer",color:"FF3108"},{name:"Tuskgor Fur Air",type:"air"},{name:"Tuskgor Fur",type:"layer"},{name:"Typhus Corrosion",type:"technical"},{name:"Tyrant Skull",type:"dry"},{name:"Ulthuan Grey Air",type:"air",color:"C3C6CD"},{name:"Ulthuan Grey",type:"layer",color:"C3C6CD"},{name:"Underhive Ash",type:"dry"},{name:"Ungor Flesh",type:"layer"},{name:"Ushabti Bone Air",type:"air",color:"EFD9A8"},{name:"Ushabti Bone",type:"layer"},{name:"Verminlord Hide",type:"dry"},{name:"Waaagh! Flesh",type:"base",color:"384E49"},{name:"Warboss Green Air",type:"air",color:"63B521"},{name:"Warboss Green",type:"layer",color:"63B521"},{name:"Warpfiend Grey",type:"layer"},{name:"Warplock Bronze",type:"base",color:"393121"},{name:"Warpstone Glow",type:"layer",color:"106B21"},{name:"Waystone Green",type:"technical"},{name:"Waywatcher Green",type:"glaze"},{name:"Wazdakka Red",type:"layer",color:"940008"},{name:"White Scar Air",type:"air",color:"FFFFFF"},{name:"White Scar",type:"layer"},{name:"Wild Rider Red",type:"layer"},{name:"Wrack White",type:"dry"},{name:"Xereus Purple",type:"layer",color:"5A005A"},{name:"XV-88 Air",type:"air",color:"793721"},{name:"XV-88",type:"base",color:"793721"},{name:"Yriel Yellow",type:"layer",color:"FFCE00"},{name:"Zamesi Desert",type:"layer",color:"C68400"},{name:"Zandri Dust Air",type:"air",color:"9E915C"},{name:"Zandri Dust",type:"base",color:"9E915C"}
    ];

});




</script>
</body>
</html>
